body{
    background-color: #0A0C1B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    display: flex;
    gap: 2rem;
    background-color: #1C1938;
    width: 50%;
    margin: 4rem auto;
    border-radius: 5px;
padding-left: 20px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.end{
    display: flex;
  justify-content: space-between;
    color: white;
   margin-top: 3rem;

}
.card-child2>.overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
   background-color: #ba55d34a;
}
.one,.two,.three{
    display: flex;
    align-content: center;
    flex-direction: column;
    
}
.p1{
color: rgba(255, 255, 255, 0.482);

}
.p2{
    font-size: 20px;
}
.title>span{
    color: mediumorchid;

}
.title{
    font-size: 30px;
    color: white;
    margin-top: 2rem;
}
.content{
    color: rgba(255, 255, 255, 0.482);
margin-top: 2rem;
}
.card-child2{
    width: 100%;

    position: relative;
    
  
   
}
@media (max-width:911px) {
    .card{
       flex-wrap:wrap-reverse;
       width: 90%;
       padding: 20px;
        }
        .card-child2{
            width: 100%;
        }
        .card-child1{
            width: 100%;
        }
      
      
}
@media (max-width:625px) {
    .card-child2{
        width: 100%;
    }
    .card-child1{
        width: 100%;
    }
    .card{
        flex-wrap:wrap-reverse;
        width: 90%;
         }
         .card{
            padding:  20px;
        }
    
}